TPA_Etap_1/ViewModel/obj
TPA_Etap_1/TPA_Etap_1/obj
TPA_ETAP_1/TPA_Etap_1/bin
TPA_ETAP_1/ViewModel/bin
TPA_ETAP_1/.vs
TPA_Etap_1/GUI/obj
TPA_Etap_1/GUI/bin
TPA_Etap_1/Loging/bin/
TPA_Etap_1/Loging/obj/
TPA_Etap_1/Log.txt
