TPA_ETAP_1/.vs
TPA_Etap_1/packages

TPA_Etap_1/ViewModel/obj
TPA_Etap_1/ViewModel/bin

TPA_Etap_1/DataSerializer/obj
TPA_Etap_1/DataSerializer/bin

TPA_Etap_1/FileSerializer/obj
TPA_Etap_1/FileSerializer/bin

TPA_Etap_1/Interfaces/obj
TPA_Etap_1/Interfaces/bin

TPA_Etap_1/Mef/obj
TPA_Etap_1/Mef/bin

TPA_Etap_1/Model/obj
TPA_Etap_1/Model/bin

TPA_Etap_1/TPA_Etap_1/obj
TPA_Etap_1/TPA_Etap_1/bin

TPA_Etap_1/GUI/obj
TPA_Etap_1/GUI/bin

TPA_Etap_1/Loging/obj
TPA_Etap_1/Loging/bin

TPA_Etap_1/XMLTests/obj
TPA_Etap_1/XMLTests/bin

TPA_Etap_1/Tests/obj
TPA_Etap_1/Tests/bin

TPA_Etap_1/Log.txt
TPA_Etap_1/TestLog.txt

TPA_Etap_1/TestResults